*{
	box-sizing: border-box;
	text-align: center;
}
body{
	margin-top: 25vh;
}
/*The calculator box*/
#calc{
	background-color: #b9cbdc;
	width: 350px;
	margin: auto;
	padding: 15px;
	border-radius: 4px;
}
/*Grid for the keys and screen*/
.top{
	display: grid;
	grid-template-columns: 25% 75%;
	grid-template-rows: 45px;
	margin-bottom: 4px;
}
.keys{
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 45px 45px 45px 45px;
}
/*borrowed some styling code from https://bootsnipp.com/snippets/kW9gA*/
/* Inset shadow on the screen to create indent */
.top .screen {
	padding: 0 10px;
	background: #5d85ae;
	border-radius: 3px;
	box-shadow: inset 0px 4px rgba(0, 0, 0, 0.2);
	
	/* Typography */
	font-size: 17px;
	line-height: 35px;
	color: white;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	text-align: right;
	letter-spacing: 1px;
}

/* Applying style to the keys */
.keys input, .top input {
	cursor: pointer;
	
	margin: 4px;
	
	background: white;
	border-radius: 3px;
	box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
	
	color: #888;
	line-height: 36px;
	font-weight: 700;
	text-align: center;
	/* Smoothing out hover and active states*/
	transition: all 0.2s ease;
}
/* style operators,evaluate & clear keys differently */
input.operator {
	background: #7a7a7a;
	color:white;
}
input.eval {
	background: #ffba23;
	box-shadow: 0px 4px #9da853;
	color: #888e5f;
}
input.clear {
	background: #ff46a3;
	box-shadow: 0px 4px #ff7c87;
	color: white;
	margin-top: 0;
}
/* Hover Effects*/
input:hover {
	background: #9c89f6;
	box-shadow: 0px 4px #6b54d3;
	color: white;
}

.eval:hover {
	background: #abb850;
	box-shadow: 0px 4px #717a33;
	color: #ffffff;
}
.clear:hover {
	background: #f68991;
	box-shadow: 0px 4px #d3545d;
	color: white;
}